.logo-evolution {
  width: 100%;
}

.logo-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  width: 100%;
  gap: 2em;
}

.logo-content-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.monogram-content-container img {
  max-width: 100%;
}

.monogram-content-container {
  display: flex;
  max-width: 100%;
  gap: 1em;
  min-width: 400px;
}

@media (max-width: 600px) {
  .monogram-content-container {
    flex-wrap: wrap; /* Allows wrapping at smaller widths */
    justify-content: center; /* Keeps things aligned neatly */
    align-items: centre;
  }

  .monogram-content-container img {
    width: 100%; /* Makes sure images scale down instead of getting huge */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain;
    max-height: 200px;
    justify-self: center;
  }

  .monogram-content-container {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    column-gap: 2em;
    max-width: 100%;
    min-width: 350px;
    align-items: end;
    justify-content: center;
  }

  .monogram-content-container figure:last-child {
    grid-column: span 2;
  }

  figcaption {
    font-size: 0.75em;
    height: 2em;
    overflow: hidden;
  }
}
