* {
  box-sizing: border-box;
}

.p3-container {
  margin-inline: auto;
  max-width: 2000px;
  margin-top: 6em;
}

/*TYPOGRAPHY*/

.p3-container h2,
.p3-container h3,
.p3-container h4 {
  font-family: var(--header-font);
}

.p3-container p,
.p3-container li,
.p3-container figcaption {
  font-family: var(--body-font);
}

.process-grid span {
  font-style: italic;
}

.p3-container h2 {
  font-size: var(--h2);
}

.p3-container h3 {
  font-size: var(--h3);
}

.p3-container h4 {
  font-size: var(--h4);
}

.primary-research-2-info,
.p3-container h5,
.retrospective-study-info-container,
.primary-research-1-subsection ul {
  font-size: var(--tiny);
  font-family: var(--body-font);
}

.pr-container h5 {
  font-weight: 200;
}

/*SPACING*/
.methodology-section,
.primary-research-1-section,
.converging-section,
.primary-research-2-section,
.ideation-section {
  /* padding-bottom: clamp(4rem, 10%, 100px); */
  padding-bottom: clamp(8rem, 16%, 100px);
}

.p3-container h2 {
  padding-bottom: clamp(1rem, 2%, 20px);
}

.process-grid h3 {
  padding-bottom: clamp(1rem, 2%, 20px);
  font-weight: 500;
}

.process-grid li {
  padding-bottom: 0.5em;
}

.retrospective-study-info-container,
.primary-research-1-subsection ul {
  padding-top: 1em;
  padding-bottom: clamp(1rem, 2%, 20px);
}

.primary-research-2-info {
  padding-bottom: clamp(1rem, 2%, 20px);
}

.categories-container h4 {
  padding-bottom: 0.5em;
}

.category-a-container,
.category-b-container {
  padding-bottom: clamp(1.5rem, 4%, 45px);
}

.h3-for-desktop {
  padding-top: 1em;
}

/*GRIDS AND LAYOUT*/

.section-description {
  width: 60ch;
  font-size: var(--tiny);
  position: relative;
  top: -1em;
  padding-bottom: clamp(1rem, 2%, 20px);
}

.process-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  column-gap: 2em;
  row-gap: 3em;
  max-width: 2000px;
}

.process-subsection {
  text-wrap: balance;
}

.process-subsection li,
.process-subsection p {
  max-width: 45ch;
}

.retrospective-study-info-container {
  display: grid;
  grid-template-columns: min-content 35ch;
  column-gap: 2em;
}

.category-a-container p {
  background-color: #40c6f5;
  border-radius: 8px;
  color: white;
  padding-block: 1.75em;
  padding-inline: 1em;
  text-wrap: balance;
  max-width: 300px;
}

.category-b-container p {
  background-color: #9379b8;
  border-radius: 8px;
  color: white;
  padding-block: 1.75em;
  padding-inline: 1em;
  text-wrap: balance;
  max-width: 300px;
}

.category-a-grid {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(2, minmax(190px, max-content));
}

.category-b-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
}

.categories-container {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 3em;
  max-width: 2000px;
}

.survey-insight img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.survey-insight {
  display: grid;
  grid-template-columns: minmax(45px, 75px) minmax(250px, 300px);
  column-gap: 0.5em;
  align-items: center;
  padding-right: 2em;
}

.survey-insights-grid {
  display: flex;
  max-width: 2000px;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.converging-section {
  height: 90vh;
}

.converging-section p,
.ideation-description {
  width: 50ch;
}

.converging-section::before {
  content: "";
  position: absolute;
  left: -4vw;
  right: 0;
  background-image: url("./assets/Prism-assets/digital-wellbeing-bg.webp");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100%;
  z-index: -1;
}

.primary-research-2-info h4 {
  font-style: italic;
}

.primary-research-2-info {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1em;
  row-gap: 1em;
}

.primary-research-2-insights figcaption {
  text-align: center;
}

.primary-research-2-insights img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.primary-research-2-insights figure {
  /* border: 2px solid red; */
  display: grid;
  grid-template-rows: minmax(90px, 150px) 1fr;
  width: 25vw;
  min-width: 250px;
  max-width: 540px;
}

.primary-research-2-insights {
  display: flex;
  gap: 2.5em;
  align-items: stretch;
  /* border: 2px solid rgb(6, 112, 233); */
  flex-wrap: wrap;
  max-width: 2000px;
  font-size: var(--small);
  justify-content: center;
}

.ideation-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ideation-section figure {
  display: grid;
  text-align: center;
  width: 12vw;
  min-width: 100px;
  max-width: 300px;
  /* border: 2px solid pink; */
}

.ideation-subsection {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, max-content));
  column-gap: 2em;
  row-gap: 1em;
  /* border: 2px solid grey; */
  justify-content: center;
}

.ideation-section-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  max-width: 2000px;
}

.h3-for-desktop {
  align-self: center;
  justify-self: center;
}

.h3-for-mobile {
  display: none;
}

.change-in-data::after {
  content: "(change in data)";
  display: block;
}

.ideation-subsection-2 {
  position: relative;
}

.ideation-subsection-2::before {
  content: "\00D7";
  position: absolute;
  font-size: var(--display);
  top: 50%;
}

@media screen and (max-width: 640px) {
  .h3-for-mobile {
    display: block;
    justify-self: center;
    padding-top: 0.5em;
  }

  .h3-for-desktop {
    display: none;
  }

  .ideation-section-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ideation-subsection-2 {
    padding-top: 2.5em;
  }

  .ideation-subsection-2::before {
    display: none;
  }
}

@media screen and (max-width: 573px) {
  .primary-research-2-insights figure {
    border-radius: 1em;
    /* border: 2px solid grey; */
    width: 78vw;
    padding-block: 2em;
    padding-inline: 1em;
    box-shadow: var(--shadow-elevation-low);
  }

  .primary-research-2-insights figcaption {
    text-wrap: balance;
  }
}

@media screen and (max-width: 900px) {
  .process-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 4em;
  }

  .category-a-grid,
  .category-b-grid {
    gap: 1em;
  }

  .converging-section {
    height: 50vh;
  }

  .converging-section::before {
    height: 60vh;
  }

  .primary-research-2-insights {
    column-gap: 2em;
  }

  .primary-research-2-insights {
    justify-content: space-around;
    min-width: 280px;
  }
}

@media screen and (max-width: 1000px) {
  .category-a-grid {
    grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
  }

  .categories-container {
    display: grid;
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 1320px) {
  .survey-insights-grid {
    justify-content: start;
  }

  .survey-insight {
    grid-template-columns: minmax(35px, 55px) minmax(150px, 300px);
    column-gap: 1em;
  }
}

@media screen and (max-width: 2400px) {
  .p3-container {
    padding-inline: 6vw;
  }
}
