
.p4-container {
  margin-inline: 4vw;
  padding-bottom: 4em;
}

.p4-container img {
  object-fit: contain;
  width: 100%;
  padding-top: 8em;
}

/*CREDITS*/
.credits-container {
  display: flex;
  column-gap: 2em;
  row-gap: 1em;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 6em;
  margin-inline: auto;
  max-width: 2000px;
  padding-left: 6vw;
  padding-top: 4em;
}

.credits-content {
  display: flex;
  column-gap: 2.5em;
  row-gap: 1em;
  flex-wrap: wrap;
}

.credits-content div {
  max-width: 35ch;
}

.credits-container h3{
  font-family: var(--header-font);
  font-size: var(--medium-small);
  font-weight: 600;
}

.credits-container h4 {
  font-family: var(--body-font);
  font-size: var(--medium-small);
  font-weight: 700;
}

.credits-container p {
  font-family: var(--body-font);
  font-size: var(--medium-small);
}