*{
  box-sizing: border-box;
}

.logo-evolution {
  width: 100%;
}

.logo-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  width: 100%;
  gap: 2em;
}

.logo-content-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.monogram-content-container img {
  max-width: 100%;
}

.monogram-content-container {
  display: flex;
  max-width: 100%;
  gap: 1em;
  min-width: 400px;
}

.graphic-elements {
  padding-top: 4em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto 1fr;
  width: 100%;
  border: 2px solid green;
  column-gap: 2em;
  row-gap: 2em;
}

.graphics-grid {
  grid-row: span 2;
}

.graphic-elements img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border: 2px solid red;
  align-self: end;
}



@media (max-width: 600px) {
  .monogram-content-container {
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: centre;
  }

  .monogram-content-container img {
    width: 100%; 
    height: auto; 
    object-fit: contain;
    max-height: 200px;
    justify-self: center;
  }

  .monogram-content-container {
    display: grid;
    grid-template-columns: repeat(2, auto); 
    grid-template-rows: auto auto; 
    column-gap: 2em;
    max-width: 100%;
    min-width: 350px;
    align-items: end;
    justify-content: center;
  }

  .monogram-content-container figure:last-child {
    grid-column: span 2;
  }

  figcaption {
    font-size: 0.75em;
    height: 2em;
    overflow: hidden;
  }

  .graphic-elements img {
    max-width: 80%;
    justify-self: center;
  }
}
