* {
  box-sizing: border-box;
}

.project-five-container {
  margin-inline: 4vw;
}

/*TYPOGRAPHY*/

.primary-type-sample-regular {
  font-family: var(--speak-regular);
  font-size: var(--h1);
}

.primary-type-sample-bold {
  font-family: var(--speak-bold);
  font-size: var(--h1);
}

.primary-type-sample-heavy {
  font-family: var(--speak-heavy);
  font-size: var(--h1);
}

.secondary-type-sample {
  font-family: var(--borel);
  font-size: var(--h1);
}

.graphics-description {
  text-wrap: balance;
}

/*GRIDS*/

.swatch {
  width: 25%;
  min-width: 90px;
  height: auto;
  aspect-ratio: 3/4;
  background-color: grey;
}

.palette-container {
  display: flex;
  justify-content: center;
}

.brown {
  background-color: #844921;
}

.orange {
  background-color: #f37921;
}

.yellow {
  background-color: #f1ec76;
}

.green {
  background-color: #b1d689;
}

.purple {
  background-color: #c0a0cb;
}

.logo-evolution {
  width: 100%;
}

.primary-secondary-type-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  column-gap: 2em;
}

.logo-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  width: 100%;
  gap: 2em;
}

.logo-content-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.monogram-content-container img {
  max-width: 100%;
}

.monogram-content-container {
  display: flex;
  max-width: 100%;
  gap: 2em;
  min-width: 400px;
}

.graphic-elements {
  padding-top: 4em;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: auto 1fr;
  max-width: 100%;
  column-gap: 2em;
  row-gap: 2em;
}

.graphics-grid {
  grid-row: span 2;
}

.graphic-elements img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  align-self: end;
}

.graphics-description {
  max-width: 60ch;
}

.packaging {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: auto auto 1fr;
  align-items: end;
  column-gap: 1em;
}

.packaging figure {
  display: flex;
  flex-direction: column;
}

.front-figure {
  grid-row: span 3;
  height: 100%;
}

.front,
.back,
.side,
.top {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.top {
  align-self: end;
}

h2 {
  font-family: var(--header-font);
  font-size: var(--h2);
}

h3 {
  font-family: var(--header-font);
  font-size: var(--h3);
}

p {
  font-family: var(--body-font);
  font-size: var(--body);
}

figcaption {
  font-family: var(--body-font);
  font-size: var(--tiny);
  font-weight: 300;
}

.hex-code {
  font-family: var(--header-font);
  font-size: var(--small);
}

/*SPACING*/
.section {
  padding-bottom: clamp(3rem, 8%, 90px);
}

h2 {
  padding-bottom: clamp(1.5rem, 4%, 45px);
}

h3,
p,
.front,
.back,
.side,
.top {
  padding-bottom: clamp(0.75rem, 2%, 22.5px);
}

.primary-logo-container figcaption {
  position: relative;
  top: -0.5rem;
}

.primary-type-description,
.secondary-type-description {
  padding-bottom: clamp(1.5rem, 4%, 45px);
}

.packaging {
  padding-top: clamp(3rem, 8%, 90px);
}

@media (max-width: 600px) {
  .monogram-content-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: centre;
  }

  .monogram-content-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 200px;
    justify-self: center;
  }

  .monogram-content-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto;
    column-gap: 2em;
    max-width: 100%;
    min-width: 350px;
    align-items: end;
    justify-content: center;
  }

  .monogram-content-container figure:last-child {
    grid-column: span 2;
  }

  figcaption {
    height: 2em;
    overflow: hidden;
  }

  .graphic-elements img {
    max-width: 80%;
    justify-self: center;
  }

  .graphic-elements {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .packaging {
    grid-template-columns: 1fr;
  }
}
