.header-img-container {
  position: relative;
  top: -1rem;
  width: 100%;
  opacity: 1;
  height: 40vh;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  padding-top: 4em;
}

.title,
.overview-headers {
  font-family: var(--header-font);
  font-weight: 400;
}

.overview-text {
  font-family: var(--body-font);
}

.overview-headers {
  font-size: 0.9rem;
  margin-left: 1vw;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-color: rgb(222, 222, 222);
  font-weight: 600;
}

.brief-text,
.deliverables-text,
.duration-text {
  font-size: 0.9rem;
  margin-right: 1vw;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(222, 222, 222);
}

.brief-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  position: relative;
  top: 0.5rem;
  left: 0;
}

.deliverables-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  position: relative;
  top: 0.5rem;
  left: 0;
}

.brief-h,
.brief-text {
  padding-top: 1.5rem;
  text-wrap: balance;
}

.duration-h,
.duration-text {
  padding-bottom: 2rem;
}

.brief-h {
  border-top-left-radius: 1rem;
}

.brief-text {
  border-top-right-radius: 1rem;
}

.duration-h {
  border-bottom-left-radius: 1rem;
}

.duration-text {
  border-bottom-right-radius: 1rem;
}

.title {
  margin-left: calc(1vw + 1rem);
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  grid-area: title;
}

.number-links,
.previous-project-link,
.next-project-link {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 350;
}

.previous-project-link,
.next-project-link {
  padding-top: 10px;
}

.pagination-list {
  list-style-type: none;
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
}

.pagination-list li {
  padding: 10px 10px;
}

.overview-container {
  margin-inline: 4.5vw;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: var(--body-font);
  position: relative;
  bottom: 0;
  padding-top: 2rem;
}

.overview-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "title title"
    "about-text about-text"
    "brief-h brief-text"
    "deliverables-h deliverables-text"
    "duration-h duration-text";
}

.about-text {
  grid-area: about-text;
  padding-bottom: 2rem;
  padding-left: calc(1vw + 1rem);
}

.about-h {
  display: none;
}

.brief-h {
  grid-area: brief-h;
}

.brief-text {
  grid-area: brief-text;
}

.deliverables-h {
  grid-area: deliverables-h;
}

.deliverables-text {
  grid-area: deliverables-text;
}

.duration-h {
  grid-area: duration-h;
}

.duration-text {
  grid-area: duration-text;
}

.carousel-container {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 2rem;
  margin-inline: 0.5rem;
}

/* .slide-img-container {
  background-color: lightblue;
  aspect-ratio: 936 / 500;
  max-width: 1000px;
  min-width: 90vw;
  width: 100%;
  position: relative;
} */

.slide-img-container {
  display: flex;
  position: relative;
  gap: 0;
  overflow-x: auto;
  width: 92vw;
  white-space: nowrap;
  box-shadow: (5px 5px 10px rgb(59, 59, 59));
  aspect-ratio: 936 / 500;
  scroll-snap-type: x mandatory; /* Enables horizontal snapping */
  scroll-behavior: smooth; /* Smooth scrolling */
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  filter: drop-shadow(0px 3px 13px rgba(172, 172, 172, 0.5));
}

.slide-img {
  object-fit: contain;
  width: 100%;
  display: block;
  border-radius: 1rem;
  aspect-ratio: 936 / 500;
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.prev-slide-button,
.next-slide-button {
  align-self: center;
  background-color: white;
  border: none;
  font-size: var(--h3);
  cursor: pointer;
  padding-top: 40px;
  padding-bottom: 40px;
}

.prev-slide-button {
  padding-left: 20px;
  padding-right: 0.5em;
}

.next-slide-button {
  padding-right: 20px;
  padding-left: 0.5em;
}

.next-slide-button:hover,
.prev-slide-button:hover {
  font-weight: 700;
}

.prev-slide-button::before {
  content: "\1438";
  position: relative;
  left: 0;
}

.next-slide-button::after {
  content: "\1433";
}

.fullscreen-btn {
  width: 16px;
  height: fit-content;
  position: absolute;
  bottom: 1rem;
  right: 10.5%;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
  cursor: pointer;
}

.exit-fullscreen-icon {
  position: fixed;
  width: 16px;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.fullscreen-btn:hover {
  opacity: 1;
}

.inactive-next-project-link {
  opacity: 0.5;
}

.inactive-previous-project-link {
  opacity: 0.5;
}

.active-project-link {
  text-decoration: underline;
}

/*bigger screens*/
@media screen and (min-width: 700px) {
  .about-h {
    display: block;
  }

  .overview-headers {
    padding: 0;
    margin-left: 0;
  }

  .about-h,
  .brief-h,
  .deliverables-h,
  .duration-h,
  .brief-text,
  .deliverables-text,
  .duration-text,
  .about-text {
    background-color: unset;
    grid-area: auto;
    grid-column: auto;
    grid-row: auto;
  }

  .about-h,
  .brief-h,
  .deliverables-h,
  .duration-h {
    font-weight: 400;
    font-size: unset;
  }

  .brief-text,
  .deliverables-text,
  .duration-text,
  .about-text {
    font-size: unset;
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
  }

  .brief-text::after,
  .deliverables-text::after {
    content: none;
    display: none;
  }

  .title {
    padding-top: 2rem;
    font-size: clamp(2.5rem, 3vw, 5rem);
    padding-left: 0;
    margin-left: 0;
    grid-area: title-1;
    min-width: 500px;
  }

  .overview-container {
    margin-inline: 4vw;
    display: grid;
    grid-template-areas: none;
    grid-template-columns: min-content 40vw min-content 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "empty title-1 emty wmpty"
      "about-h about-text brief-h brief-text"
      "about-h about-text deliverables-h deliverables-text"
      "about-h about-text duration-h duration-text";
    align-items: start;
    justify-items: baseline;
    column-gap: 1.5em;
    font-size: clamp(0.9rem, 1.05vw, 2.75rem);
    padding-top: clamp(0.5rem, 2%, 0.75rem);
  }

  .about-h {
    grid-area: about-h;
    padding-left: 0;
    margin-left: 0;
  }

  .about-text {
    grid-area: about-text;
    width: 90%;
  }

  .brief-h {
    grid-area: brief-h;
    align-self: start;
    padding-top: 0;
  }

  .brief-text {
    grid-area: brief-text;
    padding-top: 0;
  }

  .deliverables-h {
    grid-area: deliverables-h;
  }

  .deliverables-text {
    grid-area: deliverables-text;
  }

  .duration-h {
    grid-area: duration-h;
  }

  .duration-text {
    grid-area: duration-text;
  }

  .header-img-container {
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgb(174, 174, 174);
    opacity: 1;
    height: 40vh;
  }

  .header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .pagination-container {
    gap: 5rem;
    padding-bottom: 4rem;
  }

  .previous-project-link::after {
    content: "prev project";
    text-wrap: nowrap;
    position: relative;
    left: 0.5rem;
    top: -1px;
  }

  .active-previous-project-link {
    transform: translateX(0px);
    transition: transform 0.2s ease-in-out;
  }

  .active-previous-project-link:hover {
    transform: translateX(-10px);
  }

  .next-project-link::before {
    content: "next project";
    text-wrap: nowrap;
    position: relative;
    right: 0.5rem;
    top: -1px;
  }

  .active-next-project-link {
    transform: translateX(0px);
    transition: transform 0.2s ease-in-out;
  }

  .active-next-project-link:hover {
    transform: translateX(10px);
  }

  .carousel-container {
    margin-top: 5rem;
    margin-inline: 1rem;
  }

  .slide-img-container {
    width: 80vw;
    max-width: 1800px;
  }

  .slide-img {
    border-radius: 0;
  }

  .not-hovered-adjacent {
    transform: translateY(0);
    transition: transform 0.1s linear;
  }

  .hovered-project-link {
    transform: translateY(-12px);
  }

  .adjacent-project-link {
    transform: translateY(-4px);
  }
}
