.sandpit-container figure {
  border: 2px solid orange;
}

.sandpit-container p {
  font-family: var(--body-font);
  font-size: var(--medium-small);
  line-height: 1.09;
}

.sandpit-container {
  margin-inline: 2vw;
  padding-top: 4em;
}

.sandpit-grid-1 {
  display: grid;
  grid-template-areas:
    "empty spaces-img woodcut-img woodcut-p"
    "spaces-p spaces-img woodcut-img woodcut-p"
    "spaces-p spaces-img empty-3 empty-3";
  width: 100%;
  /* border: 2px solid red; */
  grid-template-columns: 2fr 1fr 5fr 2.5fr;
}

.spaces-p {
  grid-area: spaces-p;
  /* border: 2px solid blue; */
  margin-top: auto;
  text-align: right;
  padding-right: 0.5em;
}

.spaces-img {
  grid-area: spaces-img;
  object-fit: contain;
  width: 100%;
  height: auto;
  /* border: 2px solid blue; */
  max-width: 393px;
  margin-top: auto;
  display: block;
}

.woodcut-img {
  grid-area: woodcut-img;
  /* border: 2px solid blue; */
  object-fit: contain;
  display: inline-block;
  width: 100%;
  height: auto;
  padding-left: 2em;
}

.woodcut-p {
  grid-area: woodcut-p;
  /* border: 2px solid blue; */
  margin-top: auto;
  padding-left: 0.5em;
}

.woodcut-img,
.woodcut-p {
  padding-bottom: 1em;
}

.sandpit-grid-2 {
  width: 100%;
  display: grid;
  grid-template-areas:
    "spread-p spread-img kalamkari-img kalamkari-p"
    "spread-p spread-img empty-2 empty-2";
  grid-template-columns: 1fr 2.8fr 1.5fr 1fr;
  /* border: 2px solid red; */
}

.spread-p {
  grid-area: spread-p;
  text-align: right;
  padding-right: 0.5em;
  margin-top: auto;
  /* border: 2px solid limegreen; */
}

.spread-img {
  object-fit: contain;
  width: 100%;
  height: auto;
  grid-area: spread-img;
  padding-right: 2em;
  padding-top: 2em;
  /* border: 2px solid limegreen; */
}

.kalamkari-img {
  object-fit: contain;
  width: 100%;
  height: auto;
  grid-area: kalamkari-img;
  margin-top: auto;
  /* border: 2px solid limegreen; */
}

.kalamkari-p {
  grid-area: kalamkari-p;
  padding-left: 0.5em;
  margin-top: auto;
  /* border: 2px solid limegreen; */
}

.sandpit-grid-3 {
  display: grid;
  width: 100%;
  grid-template-areas: 
  "ladoo-p ladoo-img parents-gif parents-p parents-p"
  "empty-2 empty-8 scoby-img scoby-img scoby-p"
  "cake-gif dot-gif scoby-img scoby-img scoby-p"
  "empty-4 animate-p empty-5 empty-6 empty-7"
  ;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
  padding-top: 4em;
  
}

.ladoo-p {
  grid-area: ladoo-p;
  text-align: right;
  margin-left: auto;
  margin-top: auto;
  padding-right: 0.5em;
  text-wrap: balance;

}

.ladoo-img {
  object-fit: contain;
  width: 100%;
  grid-area: ladoo-img;
  margin-top: auto;
}

.parents-gif {
  object-fit: contain;
  width: 100%;
  grid-area: parents-gif;
  padding: 1.5em;
}

.parents-p {
  grid-area: parents-p;
  margin-block: auto;
  padding-left: 0.5em;
}

.cake-gif {
  object-fit: contain;
  width: 100%;
  grid-area: cake-gif;
}

.dot-gif {
  object-fit: contain;
  width: 100%;
  grid-area: dot-gif;
}

.animate-p {
  grid-area: animate-p;
}

.scoby-img {
  object-fit: contain;
  width: 100%;
  grid-area: scoby-img;
  padding-left: 2.5em;
}

.scoby-p {
  grid-area: scoby-p;
  padding-left: 0.5em;
}
