.sandpit-container figure {
  border: 2px solid orange;
}

.sandpit-img {
  cursor: pointer;
}

.parents-gif-med,
.parents-p-med,
.parents-gif-mob,
.parents-p-mob {
  display: none;
}

.sandpit-container p {
  font-family: var(--body-font);
  font-size: var(--tiny);
  line-height: 1.2;
}

.sandpit-container {
  margin-inline: 4.5vw;
  padding-top: 6em;
  margin-bottom: 30vh;
}

.sandpit-grid-1 {
  display: grid;
  grid-template-areas:
    "empty spaces-img woodcut-img woodcut-p"
    "spaces-p spaces-img woodcut-img woodcut-p"
    "spaces-p spaces-img empty-3 empty-3";
  width: 100%;
  /* border: 2px solid red; */
  grid-template-columns: 2fr 1fr 5fr 2.5fr;
}

.spaces-p {
  grid-area: spaces-p;
  /* border: 2px solid blue; */
  margin-top: auto;
  text-align: right;
  padding-right: 0.75em;
  color: #207cba;
  text-wrap: balance;
}

.spaces-img {
  grid-area: spaces-img;
  object-fit: contain;
  width: 100%;
  height: auto;
  /* border: 2px solid blue; */
  max-width: 393px;
  margin-top: auto;
  display: block;
}

.woodcut-img {
  grid-area: woodcut-img;
  /* border: 2px solid blue; */
  object-fit: contain;
  display: inline-block;
  width: 100%;
  height: auto;
  padding-left: 2.5em;
}

.woodcut-p {
  grid-area: woodcut-p;
  /* border: 2px solid blue; */
  margin-top: auto;
  padding-left: 0.75em;
  color: #ba0f07;
}

.woodcut-img,
.woodcut-p {
  padding-bottom: 1em;
}

.sandpit-grid-2 {
  width: 100%;
  display: grid;
  grid-template-areas:
    "spread-p spread-img kalamkari-img kalamkari-p"
    "spread-p spread-img empty-2 empty-2";
  grid-template-columns: 1fr 2.8fr 1.5fr 1fr;
  /* border: 2px solid red; */
}

.spread-p {
  grid-area: spread-p;
  text-align: right;
  padding-right: 0.75em;
  margin-top: auto;
  color: #827093;
  /* border: 2px solid limegreen; */
}

.spread-img {
  object-fit: contain;
  width: 100%;
  height: auto;
  grid-area: spread-img;
  padding-right: 2.5em;
  padding-top: 2.5em;
  color: #827093;
  /* border: 2px solid limegreen; */
}

.kalamkari-img {
  object-fit: contain;
  width: 100%;
  height: auto;
  grid-area: kalamkari-img;
  margin-top: auto;
  /* border: 2px solid limegreen; */
}

.kalamkari-p {
  grid-area: kalamkari-p;
  padding-left: 0.75em;
  margin-top: auto;
  color: #fe9901;
  /* border: 2px solid limegreen; */
}

.sandpit-grid-3 {
  display: grid;
  width: 100%;
  grid-template-areas:
    "ladoo-p ladoo-img parents-gif parents-p parents-p"
    "ladoo-p ladoo-img scoby-img scoby-img scoby-p"
    "cake-gif dot-gif scoby-img scoby-img scoby-p"
    "empty-4 animate-p empty-5 empty-6 empty-7";
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
}

.ladoo-p {
  grid-area: ladoo-p;
  text-align: right;
  margin-left: auto;
  margin-top: auto;
  padding-right: 0.75em;
  text-wrap: balance;
  padding-bottom: 2.5em;
  color: #f47f4e;
}

.ladoo-img {
  object-fit: contain;
  width: 100%;
  grid-area: ladoo-img;
  margin-top: auto;
  padding-bottom: 2.5em;
}

.parents-gif {
  object-fit: contain;
  width: 100%;
  grid-area: parents-gif;
  padding: 2em;
}

.parents-p {
  grid-area: parents-p;
  margin-block: auto;
  padding-left: 0.75em;
}

.cake-gif {
  object-fit: contain;
  width: 100%;
  grid-area: cake-gif;
}

.dot-gif {
  object-fit: contain;
  width: 100%;
  grid-area: dot-gif;
}

.animate-p {
  grid-area: animate-p;
}

.scoby-img {
  object-fit: contain;
  width: 100%;
  grid-area: scoby-img;
  padding-left: 2.5em;
}

.scoby-p {
  grid-area: scoby-p;
  padding-left: 0.75em;
  color: #b97b2a;
}

.sandpit-row-4 {
  display: grid;
  grid-template-areas:
    "empty-1 empty-1 khm-p khm-gif"
    "storyboard-img storyboard-img khm-p khm-gif"
    "storyboard-p storyboard-p empty-2 empty-2";
  grid-template-columns: 1.5fr 1fr 0.85fr 2fr;
  padding-top: 2em;
}

.storyboard-img {
  object-fit: contain;
  width: 100%;
  grid-area: storyboard-img;
  padding-top: 2em;
}

.storyboard-p {
  grid-area: storyboard-p;
  color: #f25828;
  width: 60ch;
}

.khm-p {
  grid-area: khm-p;
  text-align: right;
  margin-left: auto;
  padding-right: 0.75em;
  color: #363534;
}

.khm-gif {
  grid-area: khm-gif;
  object-fit: contain;
  width: 100%;
}

/*MODALS*/

.modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent color */
  backdrop-filter: blur(10px); /* Blur effect */
  width: 100vw;
  overflow: auto;
  height: 100vh;
  padding-bottom: 8em;
}

.close-modal-btn {
  display: block;
  position: sticky;
  top: 2em;
  margin-left: auto;
  margin-right: 0.5em;
  font-size: var(--h2);
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1em;
}

.modal-img {
  overflow: auto;
  display: block;
  width: 60%;
  margin-inline: auto;
  padding-top: 6em;
}

iframe {
  display: block;
  border: none;
  margin-inline: auto;
  width: 85%;
  height: 90%;
  margin-block: auto;
  padding-bottom: 4em;
  filter: drop-shadow(0px 3px 13px);
}

@media screen and (max-width: 968px) {
  .sandpit-container {
    margin-inline: 6vw;
  }

  .sandpit-grid-1 > *,
  .sandpit-grid-2 > *,
  .sandpit-grid-3 > *,
  .sandpit-row-4 > * {
    padding: unset;
    margin: unset;
    text-align: unset;
  }

  .sandpit-container > * {
    grid-template-areas: unset;
    grid-template-columns: unset;
  }

  .parents-gif,
  .parents-p {
    display: none;
  }

  .parents-gif-med,
  .parents-p-med {
    display: block;
    object-fit: contain;
    width: 100%;
  }

  .parents-gif-med {
    grid-area: parents-gif;
  }

  .parents-p-med {
    grid-area: parents-p;
  }

  .sandpit-grid-1 {
    grid-template-areas:
      "empty woodcut-img"
      "spaces-p woodcut-img"
      "spaces-img woodcut-img"
      "spaces-img woodcut-p";
    grid-template-columns: 1fr 3fr;
  }

  .spaces-img,
  .spaces-p {
    padding-right: 2em;
  }

  .spaces-img {
    margin-top: auto;
  }

  .spaces-p {
    padding-bottom: 0.5em;
    text-wrap: balance;
  }

  .woodcut-p {
    width: 50%;
    min-width: 220px;
    padding-top: 0.5em;
    text-wrap: balance;
  }

  .sandpit-grid-2 {
    grid-template-areas:
      "empty-1 kalamkari-img"
      "spread-img kalamkari-img"
      "spread-img kalamkari-p"
      "spread-img kalamkari-p"
      "spread-p empty-2";
    grid-template-columns: 2.25fr 1fr;
    column-gap: 2em;
    padding-bottom: 4em;
  }

  .kalamkari-img {
    margin-top: auto;
  }

  .spread-p,
  .kalamkari-p {
    padding-top: 0.5em;
  }

  .kalamkari-p {
    width: 80%;
    min-width: 160px;
  }

  .spread-p {
    text-align: right;
    width: 65%;
    min-width: 290px;
    margin-left: auto;
  }

  .sandpit-grid-3 {
    grid-template-areas:
      "ladoo-p empty-1 animate-p animate-p"
      "ladoo-p empty-1 dot-gif cake-gif"
      "ladoo-img empty-1 dot-gif cake-gif"
      "ladoo-img scoby-p scoby-p scoby-p"
      "ladoo-img scoby-img scoby-img scoby-img";
    grid-template-columns: 1fr 0.25fr 0.85fr 0.85fr;
    padding-bottom: 4em;
  }

  .ladoo-p {
    margin-top: auto;
    padding-bottom: 0.5em;
  }

  .scoby-p,
  .animate-p {
    padding-bottom: 0.5em;
  }

  .animate-p {
    text-align: right;
    width: 20ch;
    margin-left: auto;
    min-width: 135px;
  }

  .scoby-p {
    padding-top: 3em;
    width: 90%;
    min-width: 250px;
  }

  .ladoo-img {
    padding-right: 2em;
  }

  .sandpit-row-4 {
    grid-template-areas:
      "parents-p khm-gif"
      "parents-gif khm-gif"
      "empty khm-p"
      "storyboard-img storyboard-img"
      "storyboard-p storyboard-p";
    grid-template-columns: 1fr 2fr;
    padding-bottom: 4em;
    padding-top: unset;
    column-gap: 3em;
  }

  .parents-p-med {
    text-align: right;
  }

  .khm-p {
    padding-top: 0.5em;
    width: 80%;
  }

  .storyboard-img {
    padding-top: 1em;
  }

  .storyboard-p {
    text-align: right;
    margin-left: auto;
    width: 55ch;
  }
}

@media screen and (max-width: 549px) {
  .sandpit-grid-1 > *,
  .sandpit-grid-2 > *,
  .sandpit-grid-3 > *,
  .sandpit-row-4 > * {
    padding: unset;
    margin: unset;
    text-align: unset;
  }

  .sandpit-container > * {
    grid-template-areas: unset;
    grid-template-columns: unset;
  }

  .sandpit-container {
    margin-inline: unset;
    margin-inline: 6vw;
  }

  .parents-gif-med,
  .parents-p-med {
    display: none;
  }

  .parents-gif-mob,
  .parents-p-mob {
    display: block;
  }

  .sandpit-container p {
    font-size: var(--tiny);
  }

  .sandpit-grid-1 {
    grid-template-areas:
      "spaces-img spaces-p"
      "spaces-img woodcut-img"
      "woodcut-p woodcut-img";
    grid-template-columns: 30% 70%;
    padding-bottom: 2.75em;
  }

  .woodcut-p {
    width: 100%;
    min-width: unset;
    line-height: 1.2;
    text-align: right;
    width: 100%;
    text-wrap: unset;
  }

  .spaces-p {
    text-wrap: unset;
    width: 80%;
  }

  .spaces-img {
    padding-right: 0.75em;
    padding-bottom: 1em;
  }

  .woodcut-img {
    padding-left: 0.75em;
    padding-top: 2.5em;
  }

  .sandpit-grid-2 {
    grid-template-areas:
      "spread-img spread-img"
      "spread-p spread-p"
      "kalamkari-img kalamkari-p"
      "kalamkari-img parents-gif"
      "parents-p parents-gif";
    grid-template-columns: 50% 50%;
    column-gap: unset;
    padding-bottom: unset;
    width: 100%;
    padding-bottom: 2.75em;
  }

  .spread-p,
  .kalamkari-p {
    width: unset;
    min-width: unset;
  }

  .parents-gif-mob {
    grid-area: parents-gif;
    object-fit: contain;
    width: 100%;
    padding-inline: 1em;
    margin-top: auto;
  }

  .parents-p-mob {
    grid-area: parents-p;
    text-align: right;
    padding-top: 4em;
  }

  .kalamkari-p {
    padding-left: 0.5em;
  }

  .spread-p {
    padding-bottom: 2.75em;
    padding-top: 0.5em;
  }

  .sandpit-grid-3 {
    grid-template-areas:
      "scoby-img scoby-img"
      "scoby-p scoby-p"
      "ladoo-img animate-p"
      "ladoo-img cake-gif"
      "ladoo-img dot-gif"
      "ladoo-p dot-gif";
    padding-bottom: unset;
    grid-template-columns: 50% 50%;
  }

  .ladoo-img {
    padding-right: 1em;
    margin-top: auto;
  }

  .ladoo-p {
    padding-top: 0.5em;
  }

  .scoby-p {
    padding-top: 0.5em;
    padding-bottom: 2em;
  }

  .animate-p {
    text-align: right;
    margin-left: auto;
  }

  .sandpit-row-4 {
    grid-template-areas:
      "storyboard-img storyboard-img"
      "storyboard-p storyboard-p"
      "khm-p khm-gif";
    width: 100%;
    column-gap: unset;
    grid-template-columns: 30% 70%;
  }

  .storyboard-p {
    width: unset;
    padding-bottom: 2.75em;
  }

  .khm-p {
    width: unset;
    text-align: right;
    padding-right: 0.5em;
  }
}

@media screen and (min-width: 1080px) {
  .woodcut-p {
    max-width: 38ch;
  }

  .spaces-p {
    max-width: 38ch;
    margin-left: auto;
  }

  .kalamkari-p,
  .khm-p {
    max-width: 38ch;
  }

  .spread-p {
    max-width: 60ch;
    margin-left: auto;
  }

  .scoby-p {
    max-width: 50ch;
  }
}

@media screen and (min-width: 2000px) {
  .woodcut-img {
    padding-bottom: 6em;
    padding-left: 4em;
  }

  .woodcut-p {
    padding-bottom: 7.25em;
  }

  .spread-img {
    padding-top: 4em;
    padding-right: 4em;
  }

  .parents-gif {
    padding: 4em;
  }

  .scoby-img {
    padding-left: 6em;
    padding-bottom: 4em;
  }

  .dot-gif,
  .cake-gif {
    padding-top: 4em;
  }

  .storyboard-img {
    padding-top: 4em;
  }
}
